@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import '@repo/stephen-v2-ui/styles/shadcn-preset';
@source '../../../packages/ui/src/**/*.{js,jsx,ts,tsx}';

html {
	scroll-behavior: smooth;
}

body {
	@apply text-sm relative;
	font-family: var(--font-roboto), sans-serif;
}

:root {
	/* https://www.reddit.com/r/reactjs/comments/1fjcwkh/shadcnradix_ui_scrollbar_removal_bug/ */
	/* Add the following to fix the margin issue that shifts the page to the left. */
	body[data-scroll-locked][data-scroll-locked] {
		overflow: auto !important;
	}
	body[data-scroll-locked] {
		margin-right: 0 !important;
	}
}

@layer utilities {
	.bg-dashed {
		background-image: linear-gradient(
			45deg,
			var(--border) 12.5%,
			transparent 0,
			transparent 50%,
			var(--border) 50%,
			var(--border) 62.5%,
			transparent 62.5%,
			transparent
		);
		background-size: 5px 5px;
	}

	.dark .bg-dashed {
		background-image: linear-gradient(
			45deg,
			var(--muted-foreground) 12.5%,
			transparent 0,
			transparent 50%,
			var(--muted-foreground) 50%,
			var(--muted-foreground) 62.5%,
			transparent 62.5%,
			transparent
		);
		background-size: 5px 5px;
	}

	.bg-dots-sm {
		@apply bg-[radial-gradient(var(--color-secondary),transparent_1px)] [background-size:16px_16px];
	}
	.bg-dots-md {
		@apply bg-[radial-gradient(#ffffff33_1px,transparent_1px)] bg-[size:20px_20px];
	}

	.bprogress .bar {
		background: linear-gradient(90deg, #f3ca4d 0%, #ff979a 45.3125%, #cbabff 100%) !important;
	}

	.bento-shadow {
		box-shadow:
			0 0 0 0.5px var(--border),
			0 0 0 1px color-mix(in srgb, var(--border) 50%, transparent),
			0 0 0 3px var(--background),
			0 0 0 3.5px color-mix(in srgb, var(--muted) 90%, transparent),
			/* 0 5px 10px -3px var(--muted), */ 0 4px 6px -4px var(--ring);
	}
}

/**
 * Theme transition
 * primitives (MIT License)
 * Copyright (c) rudrodip: https://github.dev/rudrodip/rdsx.dev
 * Source:
 *  - https://github.com/rudrodip/rdsx.dev/blob/main/src/styles/globals.css
 *
 * Modified by: Stephen
 */
@supports (view-transition-name: none) {
	html::view-transition-group(root) {
		animation-duration: 0.7s;
		animation-timing-function: ease-in-out;
	}

	html::view-transition-new(root) {
		mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="50%" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
			top center / 0 no-repeat;
		mask-origin: content-box;
		animation: scale 1s;
		transform-origin: top center;
	}

	html::view-transition-old(root),
	html.dark::view-transition-old(root) {
		animation: scale 1s;
		transform-origin: top center;
		z-index: -1;
	}

	@keyframes scale {
		to {
			mask-size: 350vmax;
		}
	}

	/* ::view-transition-group(root) {
		animation-duration: 0.7s;
		animation-timing-function: ease-in-out;
	}

	::view-transition-new(root) {
		animation-name: reveal-light;
	}

	::view-transition-old(root),
	.dark::view-transition-old(root) {
		animation: none;
		z-index: -1;
	}
	.dark::view-transition-new(root) {
		animation-name: reveal-dark;
	}

	@keyframes reveal-dark {
		from {
			clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
		}
		to {
			clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
		}
	}

	@keyframes reveal-light {
		from {
			clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
		}
		to {
			clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
		}
	} */
}

.cursed {
	mask-image: radial-gradient(transparent 1px, rgb(15, 17, 21), #ffffff 1px);
	mask-size: 15px 15px;
}
.noisy {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);  
} 
