@import 'tailwindcss';

@import '@repo/stephen-v2-ui/styles/shadcn-preset';
@source '../../../packages/ui/src/**/*.{js,jsx,ts,tsx}';

body {
	@apply text-sm;
	font-family: var(--font-roboto), sans-serif;
}

:root {
	/* https://www.reddit.com/r/reactjs/comments/1fjcwkh/shadcnradix_ui_scrollbar_removal_bug/ */
	/* Add the following to fix the margin issue that shifts the page to the left. */
	body[data-scroll-locked][data-scroll-locked] {
		overflow: auto !important;
	}
	body[data-scroll-locked] {
		margin-right: 0 !important;
	}

	--bg-striped: linear-gradient(
		45deg,
		var(--muted-foreground) 12.5%,
		transparent 0,
		transparent 50%,
		var(--muted-foreground) 0,
		var(--muted-foreground) 62.5%,
		transparent 0,
		transparent
	);
}

.bg-striped {
	background-image: var(--bg-striped);
	background-size: 5px 5px;
}
