@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import '@repo/stephen-v2-ui/styles/shadcn-preset';
@source '../../../packages/ui/src/**/*.{js,jsx,ts,tsx}';

html {
	scroll-behavior: smooth;
}

body {
	@apply text-sm;
	font-family: var(--font-roboto), sans-serif;
}

:root {
	/* https://www.reddit.com/r/reactjs/comments/1fjcwkh/shadcnradix_ui_scrollbar_removal_bug/ */
	/* Add the following to fix the margin issue that shifts the page to the left. */
	body[data-scroll-locked][data-scroll-locked] {
		overflow: auto !important;
	}
	body[data-scroll-locked] {
		margin-right: 0 !important;
	}
}

@layer utilities {
	.bg-dashed {
		background-image: linear-gradient(
			45deg,
			var(--border) 12.5%,
			transparent 0,
			transparent 50%,
			var(--border) 50%,
			var(--border) 62.5%,
			transparent 62.5%,
			transparent
		);
		background-size: 5px 5px;
	}

	.dark .bg-dashed {
		background-image: linear-gradient(
			45deg,
			var(--muted-foreground) 12.5%,
			transparent 0,
			transparent 50%,
			var(--muted-foreground) 50%,
			var(--muted-foreground) 62.5%,
			transparent 62.5%,
			transparent
		);
		background-size: 5px 5px;
	}

	.bg-dots-sm {
		@apply bg-[radial-gradient(var(--color-secondary),transparent_1px)] [background-size:16px_16px];
	}
	.bg-dots-md {
		@apply bg-[radial-gradient(#ffffff33_1px,transparent_1px)] bg-[size:20px_20px];
	}

	.bprogress .bar {
		background: linear-gradient(90deg, #f3ca4d 0%, #ff979a 45.3125%, #cbabff 100%) !important;
	}

	.bento-shadow {
		box-shadow:
			0 0 0 0.5px var(--border),
			0 0 0 1px color-mix(in srgb, var(--border) 50%, transparent),
			0 0 0 3px var(--background),
			0 0 0 3.5px color-mix(in srgb, var(--muted) 90%, transparent),
			/* 0 5px 10px -3px var(--muted), */ 0 4px 6px -4px var(--ring);
	}
}

/**
 * Theme transition
 * primitives (MIT License)
 * Copyright (c) rudrodip: https://github.dev/rudrodip/rdsx.dev
 * Source:
 *  - https://github.com/rudrodip/rdsx.dev/blob/main/src/styles/globals.css
 *
 * Modified by: Stephen
 */
@supports (view-transition-name: none) {
	html::view-transition-group(root) {
		animation-duration: 0.7s;
		animation-timing-function: ease-in-out;
	}

	html::view-transition-new(root) {
		mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="50%" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
			top center / 0 no-repeat;
		mask-origin: content-box;
		animation: scale 1s;
		transform-origin: top center;
	}

	html::view-transition-old(root),
	html.dark::view-transition-old(root) {
		animation: scale 1s;
		transform-origin: top center;
		z-index: -1;
	}

	@keyframes scale {
		to {
			mask-size: 350vmax;
		}
	}

	/* ::view-transition-group(root) {
		animation-duration: 0.7s;
		animation-timing-function: ease-in-out;
	}

	::view-transition-new(root) {
		animation-name: reveal-light;
	}

	::view-transition-old(root),
	.dark::view-transition-old(root) {
		animation: none;
		z-index: -1;
	}
	.dark::view-transition-new(root) {
		animation-name: reveal-dark;
	}

	@keyframes reveal-dark {
		from {
			clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
		}
		to {
			clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
		}
	}

	@keyframes reveal-light {
		from {
			clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
		}
		to {
			clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
		}
	} */
}
