@import 'tailwindcss';

@import '@repo/stephen-v2-ui/styles/shadcn-preset';
@source '../../../packages/ui/src/**/*.{js,jsx,ts,tsx}';

body {
	@apply text-sm;
	font-family: var(--font-roboto), sans-serif;
}

/* https://www.reddit.com/r/reactjs/comments/1fjcwkh/shadcnradix_ui_scrollbar_removal_bug/ */
/* Add the following to fix the margin issue that shifts the page to the left. */
body[data-scroll-locked][data-scroll-locked] {
	overflow: auto !important;
}
body[data-scroll-locked] {
	margin-right: 0 !important;
}

/* :root {
	--bg-dashed: linear-gradient(
		45deg,
		var(--muted-foreground) 12.5%,
		transparent 0,
		transparent 50%,
		var(--muted-foreground) 0,
		var(--muted-foreground) 62.5%,
		transparent 0,
		transparent
	);
}

.dark {
	--bg-dashed: linear-gradient(
		45deg,
		var(--muted-foreground) 12.5%,
		transparent 0,
		transparent 50%,
		var(--muted-foreground) 0,
		var(--muted-foreground) 62.5%,
		transparent 0,
		transparent
	);
}

.bg-dashed {
	background-image: var(--bg-dashed);
	background-size: 5px 5px;
} */

@layer utilities {
	.bg-dashed {
		background-image: linear-gradient(
			45deg,
			var(--border) 12.5%,
			transparent 0,
			transparent 50%,
			var(--border) 50%,
			var(--border) 62.5%,
			transparent 62.5%,
			transparent
		);
		background-size: 5px 5px;
	}
}
