.bg-hero-section {
	mask-image: radial-gradient(ellipse 80% 100% at 50% 30%, #000 40%, transparent 75%);
	-webkit-mask-image: radial-gradient(ellipse 80% 100% at 50% 30%, #000 40%, transparent 75%);
}

.dark .profile-ring {
	box-shadow:
		-8px -4px 8px 0px #040404,
		8px 4px 12px 0px #111,
		4px 4px 4px 0px #111 inset,
		-4px -4px 4px 0px #040404 inset;
}
.profile-ring {
	box-shadow:
		-8px -4px 8px 0px #fff,
		8px 4px 12px 0px #d1d9e6,
		4px 4px 4px 0px #d1d9e6 inset,
		-4px -4px 4px 0px #fff inset;
}
