.bg-hero-section {
	/* @apply absolute inset-0 top-0 -z-10 mx-auto max-h-[600px] w-full opacity-10;
	@apply bg-[url('/assets/images/bg/bg-hero-section-light.svg')] dark:bg-[url('/assets/images/bg/bg-hero-section-dark.svg')] bg-repeat; */

	mask-image: radial-gradient(ellipse 80% 100% at 50% 30%, #000 40%, transparent 75%);
	-webkit-mask-image: radial-gradient(ellipse 80% 100% at 50% 30%, #000 40%, transparent 75%);
}

.dark .profile-ring {
	box-shadow: -8px -4px 8px 0px #000,
    8px 4px 12px 0px #111,
    4px 4px 4px 0px #111 inset,
    -4px -4px 4px 0px #000 inset;
}
.profile-ring {
	box-shadow: -8px -4px 8px 0px #fff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #fff inset;
}
