.shadow-book {
	box-shadow:
		0 1.8px 3.6px rgba(0, 0, 0, 0.051),
		0 10.8px 21.6px rgba(0, 0, 0, 0.08),
		inset 0 -0.9px 0 rgba(0, 0, 0, 0.1),
		inset 0 1.8px 1.8px hsla(0, 0%, 100%, 0.1),
		inset 3.6px 0 3.6px rgba(0, 0, 0, 0.1);
}

.book-paper {
	background-image: repeating-linear-gradient(90deg, #fff, #efefef 1px, #fff 3px, #9a9a9a 0);
	background: linear-gradient(90deg, #eaeaea, transparent 70%), linear-gradient(#fff, #fafafa);
}

.book-bind {
	background:
		linear-gradient(
			90deg,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0) 12%,
			rgba(255, 255, 255, 0.25) 29.25%,
			rgba(255, 255, 255, 0) 50.5%,
			rgba(255, 255, 255, 0) 75.25%,
			rgba(255, 255, 255, 0.25) 91%,
			rgba(255, 255, 255, 0)
		),
		linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.03),
			rgba(0, 0, 0, 0.1) 12%,
			rgba(0, 0, 0, 0) 30%,
			rgba(0, 0, 0, 0.02) 50%,
			rgba(0, 0, 0, 0.2) 73.5%,
			rgba(0, 0, 0, 0.5) 75.25%,
			rgba(0, 0, 0, 0.15) 85.25%,
			rgba(0, 0, 0, 0)
		);
}

.book-texture {
	background-image: url('/assets/images/bg/book-texture.png');
	position: absolute;
	background-size: cover;
	inset: 0;
	border-radius: 6px 4px 4px 6px;
	mix-blend-mode: hard-light;
	background-repeat: no-repeat;
	opacity: 1;
	pointer-events: none;
	filter: brightness(1.2);
}
